.App {
  text-align: center;
  background-image: url('./imgs/Untitled design.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.About {
  margin-top: 3%;
  width:60%;
  height:25%;
  background-color: hsla(0, 0%, 24%, 0.541);
  font-weight: bold;
  color: white;
  border-radius: 10px;
  padding: 2%;  
}