*,*::before,*::after{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  border: 0;
}

.App {
  text-align: center;
  /* background-image: url('./imgs/Untitled design.jpg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  /* overflow-y: hidden; */
}

.About {
  margin-top: 3%;
  width:60%;
  background-color: hsla(0, 0%, 24%, 0.541);
  font-weight: bold;
  color: white;
  border-radius: 10px;
  padding: 2%;
}

.Navbar {
  display: flex;
  flex-direction: row;
  background-color: hsla(0, 0%, 24%, 0.541);
  justify-content: space-evenly;
  border: 3px solid white;
  padding: .5%;
  margin-top: 1%;
}

.Navbar a {
  color: ivory;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.Contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Skills {
  display: flex;
  justify-content: space-around;
  margin-top: 3%;
  max-width: 100%;
  height: 80vh;
}

.Row1{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.Row1 img{
  width:30%;
}

.Row1 div{
  display: flex;
  flex-direction: row;
  font-weight: bolder;
  align-items: center;
  width:50%;
  
}

.Row2{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.Row2 img{
  width: 30%;
}

.Row2 div{
  display: flex;
  flex-direction: row;
  font-weight: bolder;
  justify-content:flex-end;
  align-items: center;
  width:50%;
}

.Contact{
  display: flex;
  max-width: 100%;
  height: 80vh;
  align-items: center;
}

.Contact img{
  width:15%;
}

.Contact div{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
}

